{% extends 'base.html.twig' %}

{% block title %}Formulaire Deuxième{% endblock %}

{% block body %}
    <h1>Formulaire !</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">submit</button>
    {{ form_end(form) }}
{% endblock %}
